## DataFrame 인덱싱 1

- 데이터 값 가져오기

In [15]:
import pandas as pd
iphone_df = pd.read_csv('C:/Users/jaewoo/Desktop/data science/data/iphone.csv', index_col = 0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

## 문법 설명 .loc[row명, colunm명]

In [5]:
iphone_df.loc['iPhone 8', '메모리']

'2GB'

### row 한줄 정보 가져오기

In [8]:
iphone_df.loc['iPhone 8', :]

출시일        2017-09-22
디스플레이             4.7
메모리               2GB
출시 버전        iOS 11.0
Face ID            No
Name: iPhone 8, dtype: object

In [9]:
iphone_df.loc['iPhone 8']

출시일        2017-09-22
디스플레이             4.7
메모리               2GB
출시 버전        iOS 11.0
Face ID            No
Name: iPhone 8, dtype: object

### clounm 한줄 가져오기

In [10]:
iphone_df.loc[:, '출시일']

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

In [12]:
iphone_df['출시일']

iPhone 7         2016-09-16
iPhone 7 Plus    2016-09-16
iPhone 8         2017-09-22
iPhone 8 Plus    2017-09-22
iPhone X         2017-11-03
iPhone XS        2018-09-21
iPhone XS Max    2018-09-21
Name: 출시일, dtype: object

## 실습과제 _ 방송사 시청률 받아오기1

지난 시간에 DataFrame에서 원하는 부분을 선택하는 인덱싱을 배웠는데요. 이를 통해서 값을 찾는 연습을 해봅시다.
2016년도에 KBS방송국의 시청률을 찾아봅시다.
데이터를 한번 잘 살펴보고 어떻게 값을 찾아야 할지 고민해보세요!

주의: 정답 출력 코드는 print 없이 작성해 주세요. (예시: df)

In [18]:
import pandas as pd

df = pd.read_csv('C:/Users/jaewoo/Desktop/data science/data/broadcast.csv', index_col = 0)

# 코드를 작성하세요.
df.loc[2016,'KBS']

27.583000000000002

## 실습과제 _ 방송사 시청률 받아오기2

실습과제
이번에는 DataFrame에서 한 줄을 찾는 연습을 해보겠습니다.
JTBC의 시청률을 확인하려면 어떻게 해야 할까요?

2011    7.380  
2012    7.878  
2013    7.810  
2014    7.490  
2015    7.267  
2016    7.727  
2017    9.453  
Name: JTBC, dtype: float64


주의: 정답 출력 코드는 print 없이 작성해 주세요. (예시: df)

In [19]:
import pandas as pd

df = pd.read_csv('C:/Users/jaewoo/Desktop/data science/data/broadcast.csv', index_col = 0)

# 코드를 작성하세요.
df.loc[:, 'JTBC']

2011    7.380
2012    7.878
2013    7.810
2014    7.490
2015    7.267
2016    7.727
2017    9.453
Name: JTBC, dtype: float64

## 실습과제 _ 방송사 시청률 받아오기3

이번에는 DataFrame에서 여러 줄을 찾는 연습을 해보겠습니다. SBS와 JTBC의 시청률만 확인하려면 어떻게 하면 될까요?

In [20]:
import pandas as pd

df = pd.read_csv('C:/Users/jaewoo/Desktop/data science/data/broadcast.csv', index_col = 0)

df.loc[:, ['SBS', 'JTBC']]

         SBS   JTBC
2011  11.173  7.380
2012  11.408  7.878
2013   9.673  7.810
2014   9.108  7.490
2015   9.099  7.267
2016   8.669  7.727
2017   8.661  9.453

## 실습과제 _ 카드사 고객 분석

데이터의 중요성을 깨달은 “삼송카드”와 “현디카드”가 협업을 하기로 결정했습니다.

두 카드사는 사람들이 요일별로 지출하는 평균 금액을 “요일”, “식비", “교통비”, “문화생활비”, “기타” 카테고리로 정리해서 우리에게 공유해 주기로 했는데요. 각각 samsong.csv 파일과 hyundee.csv 파일을 보냈습니다.

두 회사의 데이터를 활용해서, 사람들의 요일별 문화생활비를 분석해보려 합니다. 아래와 같은 형태로 출력이 되도록 DataFrame을 만들어보세요.

/   day  samsong  hyundee  
0  MON     4308     5339  
1  TUE     7644     3524  
2  WED     5674     5364  
3  THU     8621     9942  
4  FRI    23052    33511  
5  SAT    15330    19397  
6  SUN    19030    19925

In [22]:
import pandas as pd

samsong_df = pd.read_csv('C:/Users/jaewoo/Desktop/data science/data/samsong.csv')
hyundee_df = pd.read_csv('C:/Users/jaewoo/Desktop/data science/data/hyundee.csv')

# 코드를 작성하세요.
samsong_data = samsong_df.loc[:, '문화생활비']
hyundee_data = hyundee_df.loc[:, '문화생활비']
day = samsong_df.loc[:, '요일']

samhyn_day = {'day' : day, 'samsong' : samsong_data, 'hyundee' : hyundee_data}

pd.DataFrame(samhyn_day)

   day  samsong  hyundee
0  MON     4308     5339
1  TUE     7644     3524
2  WED     5674     5364
3  THU     8621     9942
4  FRI    23052    33511
5  SAT    15330    19397
6  SUN    19030    19925